<h3 [innerHTML]="titulo"></h3>

<mat-form-field>
  <input matInput name="buscar" (keyup)="buscar($event.target.value)" placeholder="Ingrese el nombre del producto">
</mat-form-field>

<div class="contenedor">
  <div class="lista-producto">
    <mat-list>
      <app-producto-item *ngFor="let prod of listaProductosDatsource" 
      [producto]="prod" (onFocused)="focusedAction($event)"
      (onDeleted)="deleteProducto($event)">
      </app-producto-item>
    </mat-list>
  </div>
  <div class="detalle-producto">
    <app-producto-detail [producto]="productoDetailed"></app-producto-detail>
  </div>
</div>
